  .logo {
      width: 80px;
      height: 80px;
      margin-right: 0.5rem;
    }

    .navbar-dark .navbar-nav .nav-link {
      padding: 25px 20px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #ffff;
      outline: none;
      border-radius: 0.2rem;
    }

    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
      color: #ffff;
      background: #FE17BD;
    }

    .dropdown-item {
      color: #ffff;
      font-weight: 500;
    }

    .dropdown-item:hover,
    .dropdown-item.active {
      color: #ffff;
      background: #FE17BD;
    }

    @media (max-width: 767.98px) {
      .custom-flex-class {
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
      }
    }

    .pet-icon:hover {
      transform: scale(1.1);
      background-color: #FFFACD;
      transition: transform 0.2s, background-color 0.2s;
    }

    .moji-naslovi {
      font-family: 'Poppins', Arial, sans-serif;
    }

    .moji-tekstovi {
      font-family: 'Quicksand', Arial, sans-serif;
    }

    .btn, a {
      font-family: 'Roboto', Arial, sans-serif;
    }

    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      color: #d9d9d9 !important;
    }

    .img-fluid {
      width: 70%;
      height: 70%;
    }

